# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Binarios y carpetas de compilación
build/
bin/
*.exe
*.o
*.out
# IDEs
.vscode/
.idea/
# Librerías de sistema (OpenSSL, etc)
*.so
*.dll
*.dylib